<div class="container-fluid vh-100 w-100 d-flex justify-content-center align-items-center main-container">
  <div class="container container-center h-75 main-container-sub p-0 g-0 rounded-4" >
    <div class="row g-0 p-0 h-100">
      <div class="d-flex flex-column rounded-4 col-2 align-items-center justify-content-evenly h-100">
        <div class="row">
          <div class="col-12">
            <img src="assets/images/image3.png" alt="company logo">
          </div>
        </div>
        <button class="row w-100 h-25 d-flex align-items-center btn btn-link text-decoration-none"
           [ngClass]="is_form_type=='login'?'active-component text-dark':'text-secondary'"  (click)="switchForm('login')">
          <div class="col-12 d-flex justify-content-center flex-column gap-1 align-items-center">
            <img src="assets/images/checked.png" alt="" srcset="" height="50" width="50">
            <p class="fw-bolder">Log in</p>
          </div>
        </button>
        <button class="row w-100 h-25 d-flex align-items-center btn btn-link text-decoration-none"
        [ngClass]="is_form_type=='register'?'active-component text-dark ':'text-secondary'" (click)="switchForm('register')">
          <div class="col-12 d-flex justify-content-center flex-column gap-1 align-items-center">
            <img src="assets/images/round.png" alt="" srcset="" height="50" width="50">
            <p class="fw-bolder">Sign Up</p>
          </div>
        </button>
      </div>
      <div class="d-flex col-5 h-100 image-container">
        <img src="assets/images/image2.jpg" class="img-fluid image-container-sub rounded-3" alt="Sample image">
      </div>
      <div class="col-5 justify-content-center align-items-center">
        <router-outlet>
          <app-auth [formType]="is_form_type"></app-auth>
        </router-outlet>
      </div>
    </div>
  </div>
</div>